@media (max-width: 1400px) {
    .bnr-contnet h1 {
        font-size: 55px;
        max-width: 700px;
        margin: 0 auto;
    }

    .bnr-contnet p {
        max-width: 700px;
    }

    .menu-list ul li a {
        font-size: 15px;
    }

    .menu-list ul {
        gap: 20px;
    }

    .prize-card {
        padding: 20px;
    }
}

@media (max-width: 1199px) {
    .inner-bnr {
        height: 300px;
    }

    .disclaimer-main {
        padding: 40px 0;
    }

    .how-to-play-dis {
        padding: 40px 0 0;
    }

    .sport-grid {

        grid-template-columns: repeat(2, 1fr);

    }

    .blog_page_card .what_we_offer_img_outer {
        height: 16rem;
    }

    .contact_top_cards_content h2 {
        font-size: 24px;

    }

    .bnr-contnet h1 {
        font-size: 36px;
    }

    .gift-box {
        right: 0;
        top: unset;
        bottom: 160px;
    }

    .readers {
        padding: 40px 0;

    }

    .contact_top_cards_content p {

        font-size: 16px;

    }

    .contact_top_cards_sec {
        padding: 40px 0;
    }

    .hero-bg-inner {
        padding-top: 190px;
    }

    .hero-sec {
        height: 770px;
    }

    .bnr-contnet p {
        font-size: 18px;

    }

    .responsible {
        padding: 40px 0;
    }


    ul.list-unstyled li a {
        font-size: 16px;
    }

    .pickz-works-inner h2 {
        font-size: 24px;
    }

    .pickz-works-inner p {
        font-size: 16px;
        line-height: 28px;
    }

    .readers p {
        font-size: 16px;
    }

    p {
        font-size: 16px !important;
    }

    h2 {
        font-size: 24px !important;

    }

    .record-jackpots {
        padding: 60px 0px;

    }

    .how-to-play-text h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1023px) {}



@media (max-width: 991px) {
    .menu-list {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background: #fffdfd;
        height: 100vh;
        overflow-x: hidden;
        transition: width 0.3s ease;
        z-index: 9999;
        padding-top: 60px;
        max-width: 300px;
    }

    footer.footer {
        padding: 70px 0 0 0;
    }

    .form-container {
        padding: 0;
    }

    .hero-bg-inner {
        padding-top: 140px;
    }

    .menu-list.open {
        width: 100%;
        transition: width 0.3s ease;
    }




    .col-lg-4.col-md-4.three {
        order: 3;
    }

    .menu-list ul {
        flex-direction: column;
        padding-left: 20px;
        gap: 20px;
    }

    .menu-icon span {
        font-size: 26px;
        font-weight: 400;
        color: var(--quinary-color);
    }

    .right-col {
        max-width: 100%;
    }

    span.menu-close {
        padding: 6px 6px;
        display: block;
        border-radius: 6px;
        width: 45px;
        height: 45px;
        text-align: center;
        box-shadow: 0 0 25px rgb(0 0 0 / .1);
        line-height: 32px;
        background: var(--quaternary-color);
        color: var(--primary-color);
        position: absolute;
        right: 7px;
        top: 5px;
        font-size: 18px;
    }



    .menu-icon {
        display: block;
    }

    .menu-list ul li a {
        color: var(--quaternary-color);
        font-size: 18px;
    }

    .menu-list ul li.active a {
        color: var(--quaternary-color);
    }

    .gift-box {
        display: none;
    }

    .blog_page_cards_sec .row .col-sm-6.col-lg-4 {
        margin-bottom: 10px !important;
    }

    html {
        font-size: 15px;
    }

    .blog_image_txt h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    .home_content h1 {
        font-size: 2.2rem;
    }

    .how-to-play-img img {
        height: 300px;
        object-fit: contain;
        width: 100%;
        margin-top: 10px;
    }

    html {
        font-size: 14px;
    }

    .blog_image_txt h1 {
        font-size: 1.3rem;
    }

    .sport-grid {

        grid-template-columns: repeat(1, 1fr);

    }

    .pickz-results-content {
        margin-top: 30px;
    }

    .banner_section {
        height: 30.75rem;
    }

    .responsible-content h3 {
        font-size: 24px;
    }

    .responsible-content p {
        font-size: 16px;

    }

    .oz-pickz-results-inner .row {
        flex-direction: column-reverse;
    }

    .responsible-content {
        margin-top: 30px;
    }
}


@media (max-width:575px) {
    .blog_image_txt {
        padding: 0.9375rem;
    }

    .block_image_wrap {
        height: 25.25rem;
    }

    .footer-pages-content-grp h3 {
        font-size: 1.5rem;
    }

    .footer-pages-wrap {
        padding: 1.25rem;
    }

    .footer-pages-content-grp ul {
        padding-left: 0;
    }

    .home_content h1 {
        font-size: 2rem;
    }

    .banner_section {
        height: 25.75rem;
    }

    .bottom-ft {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .home_content h1 {
        font-size: 1.7rem;
    }

    .banner_section {
        height: 22.75rem;
    }

    .blog_image_txt h1 {
        font-size: 1.1rem;
    }
}